* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Agdasima", sans-serif;
}

header {
    background-color: #00FFFF;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

.primeira {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
}

.primeira p {
    width: 40rem;
}

.primeira img {
    width: 10rem;
    height: auto;
}

.segunda {
    background-color: #FF00FF;
    height: 20rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.segunda p {
    max-width: 20rem;
    margin: 8rem;
}

.segunda img {
    height: 10rem;
    width: 10rem;
    margin-bottom: 3rem;
}

.terceira {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}

.terceira img {
    width: 6rem;
    height: 6rem;
    margin: 3rem;
}

