* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Agdasima", sans-serif;
}

header {
    background-color: #00FFFF;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D1D1D1;
}

main {
    padding: 4rem;
}

.primeira {
    display: flex;
    justify-content: space-between;
}

.primeira p {
    width: 40rem;
}

.primeira img {
    width: 10rem;
    height: auto;
}

.segunda {
    background-color: #FF00FF;
    height: 20rem;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.segunda p {
    max-width: 20rem;
    margin: 8rem;
}

.segunda img {
    height: 10rem;
    width: 10rem;
}

